/* *{
padding: 0;
margin: 0;
box-sizing: border-box;
} */
.heading{
    color: blue;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 32px;
    background-color: rgb(85, 77, 77);
    color: rgb(255, 254, 254);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
  }
  
  /* .header.dark {
    background-color: #1f2937;
    color: white;
  } */
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 24px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    position: relative;
  }
  @media(max-width:450px){
    .nav-links a{
      margin-top: 50px;
     
    }
    .header{
      align-items: flex-start;
      padding-left: 0px;
    }
  }
  
  .nav-links a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: currentColor;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
  
  .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s;
    color: white;
  }
  

  #bacImg{
    margin-top: 10px;
    width: 100%;
    height: 80vh;
    border-radius: 10px;
  }
  @media(max-width:625px){
    #bacImg{
      height: 50vh;
    }
  }
  #cent {
    text-align: center;
    position: relative;
    top: -250px;
    color: white;
  }

  #skd {
    width: 95vw;
    height: 500px;
    border: 10px solid black;
  
  }

 



 #burg{
  display: none;
 }

 @media(max-width:700px){
  #burg{
    display: flex;
    position: relative;
    bottom: 100px;
  }


  #moon{
    display: none;
  }
  .nav-links{
    display: flex;
   flex-direction: column;
  margin-top: 50px;
  }

  .logo{
    position: relative;
    bottom: 100px;
  } 
 }
 @media(max-width:450px){
  #burg{
    bottom: 0px;
  }
  .logo{
    bottom: 0px;
  }
  .nav-links{
    gap: 0px;
    margin-top: 50px;
  }
 }

 

 .card1{
  text-align: center;
 }

 