.heading{
  color: blueviolet;
}
.div {
  width: 300px;
  height: 300px;
  background-color: aqua;
}

.main{
  margin: auto;
  width: 500px;
  height: 500px;
  /* display: flex; */
}
#root{
  margin: auto;
  text-align: center;
}
